.container {
    position: relative;
    width: 400px;
    height: 400px;
}
.daire {
    position: absolute; 
    width: 200px; 
    height: 200px; 
    border-radius: 50%; 
    mix-blend-mode: multiply; 
    opacity: 0.7;
}
.kirmizi-turuncu {
    background-color: #ff6347; 
    top: 50px;
    left: 50px;
}
.sari {
    background-color: #ffd700;
    top: 150px; 
    left: 100px; 
}
.mavi {
    background-color: #6495ed;
    top: 50px;
    left: 150px; 
}
